.DS_Store
venv
test
Volumes/Database
log
.secrets
.env
*.pyc
Services/Backend/login/tools/*.json
.envs/
.github/
.gitignore
Makefile
README.md
Services/
Volumes/
Tools/
core/
doc/
docker-compose.yml
keys.txt
manager.sh
devops_holder
deploy
develop/vue/volume/main/src/assets/mainloop.webm
