---
import 'bootstrap/dist/css/bootstrap.css'
---

<div class="login_stack" style="height:100%;margin: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;">
<h1>Login 🛂</h1>
<form method="POST">
  <label>
    Username :
    <input type="text" name="username" required />
  </label>
  <label>
    Email:     
    <input type="email" name="email" required />
  </label>
  <label>
    Password :
    <input type="password" name="password" required minlength="1" />
  </label>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

